[submodule "THREAD_SOLAR_PANEL"]
	path = THREAD_SOLAR_PANEL
	url = https://github.com/MicrochipTech/PIC32CXBZ2_WBZ45x_THREAD_SOLAR_PANEL
[submodule "THREAD_LIGHTING"]
	path = THREAD_LIGHTING
	url = https://github.com/MicrochipTech/PIC32CXBZ2_WBZ45x_THREAD_LIGHTING
[submodule "THREAD_GARAGE_DOOR"]
	path = THREAD_GARAGE_DOOR
	url = https://github.com/MicrochipTech/PIC32CXBZ2_WBZ45x_THREAD_GARAGE_DOOR
